@model CatalogHomeViewModel

@{
	ViewBag.Title = "Index";
}

@section styles {
	<style>
		@@media(min-width: 992px) {
			main {
				min-height: 955px;
			}
		}

		.collapsing {
			position: static;
		}
	</style>
}

@section scripts {
	<script type="text/javascript">
		$(function() {
			var form = $('form.collapse');
			var btn = $('#toggle-btn');

			$(form).on('show.bs.collapse', function() {
				$(btn).children('span').text('Скрыть');
			});

			$(form).on('hide.bs.collapse', function() {
				$(btn).children('span').text('Отобразить');
			});

			$(window).resize(function() {
				var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
				w && w >= 992 ? $(form).collapse('show') : $(form).collapse('hide');
			});

			$(btn).click(function() {
				$(form).collapse('toggle');
			});

			var ctForm = $('form.catalog-filter');
			var ctOrderList = $('#@nameof(Model.FormModel.OrderSelected)');
			var ctDisplayList = $('#@nameof(Model.FormModel.DisplaySelected)');
			var ctGroups = $('#@nameof(Model.FormModel.GroupSelected)');
			var ctGroupAny = $('#@nameof(Model.FormModel.GroupAny)');
			var ctPurposes = $('.checkbox-list');
			var ctPurposeAny = $('#@nameof(Model.FormModel.PurposeAny)');

			var fnSubmit = function () {
				ctForm.submit();
			}

			var fnDisableSelectList = function() {
				var isChecked = $(this).is(":checked");
				ctGroups.prop('disabled', isChecked);
			}

			var fnDisableCheckboxList = function() {
				var isChecked = $(this).is(":checked");
				ctPurposes.find('div.checkbox')[isChecked ? 'addClass' : 'removeClass']('text-muted disabled');
				ctPurposes.find('input[type="checkbox"]').prop('disabled', isChecked);
			}

			ctOrderList.change(fnSubmit);
			ctDisplayList.change(fnSubmit);
			ctGroupAny.change(fnDisableSelectList);
			ctPurposeAny.change(fnDisableCheckboxList);

			fnDisableSelectList.apply(ctGroupAny);
			fnDisableCheckboxList.apply(ctPurposeAny);
		});
	</script>
}

<div class="page-header">
	<h1>Каталог</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<p class="visible-xs visible-sm">
			<button type="button" class="btn btn-block btn-primary" id="toggle-btn"><span>Скрыть</span> фильтры</button>
		</p>
		@Html.Partial("Partial/Catalog/AsideForm", Model.FormModel)
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		@if (!string.IsNullOrEmpty(Model.FilterGroup))
		{
			<span class="label label-primary text-uppercase">@Model.FilterGroup</span>
		}
		@if (Model.FilterPurposes != null && Model.FilterPurposes.Any())
		{
			foreach (var filterPurpose in Model.FilterPurposes)
			{
				<span class="label label-danger text-uppercase">@filterPurpose</span>
			}
		}
		@if (!string.IsNullOrEmpty(Model.FilterCode))
		{
			<span class="label label-default text-uppercase"><span>A</span>@Model.FilterCode</span>
		}
	</div>
</div>
<div class="row">
	<div class="col-md-9 col-lg-9">
		@foreach (var c in Model.Products)
		{
			@Html.Partial("Partial/Catalog/ProductCard", c)
		}
	</div>
</div>
<div class="row">
	<div class="col-md-9 col-lg-9">
		@Html.Partial("Partial/Catalog/ProductListPaging")
	</div>
</div>

@*@Html.Partial("Partial/BackToTopButton")*@
