@model CatalogHomeViewModel

@{
	ViewBag.Title = "Каталог";
}

@section styles {
	<style>
		@@media(min-width: 992px) {
			main {
				min-height: 955px;
			}
		}

		.collapsing {
			position: static;
		}
	</style>
}

@section scripts {
	<script type="text/javascript">
		$(function () {
			var form = ('form.catalog-filter');
			var btnFormVisibility = $('#toggle-btn');

			var collapseHandler = function () {
				$(form).on('show.bs.collapse', function () {
					$(btnFormVisibility).children('span').text('Скрыть');
				});

				$(form).on('hide.bs.collapse', function () {
					$(btnFormVisibility).children('span').text('Отобразить');
				});

				$(window).resize(function () {
					var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
					w && w >= 992 ? $(form).collapse('show') : $(form).collapse('hide');
				});

				$(btnFormVisibility).click(function () {
					$(form).collapse('toggle');
				});
			}

			var formIteractionHandler = function () {
				var ctOrderList = $('#@nameof(Model.FormModel.OrderSelected)');
				var ctDisplayList = $('#@nameof(Model.FormModel.DisplaySelected)');
				var ctGroups = $('#@nameof(Model.FormModel.GroupSelected)');
				var ctGroupAny = $('#@nameof(Model.FormModel.GroupAny)');
				var ctPurposes = $('.checkbox-list');
				var ctPurposeAny = $('#@nameof(Model.FormModel.PurposeAny)');

				var fnSubmit = function () {
					$(form).submit();
				}

				var fnDisableSelectList = function () {
					var isChecked = $(this).is(":checked");
					ctGroups.prop('disabled', isChecked);
				}

				var fnDisableCheckboxList = function () {
					var isChecked = $(this).is(":checked");
					$(ctPurposes).find('div.checkbox')[isChecked ? 'addClass' : 'removeClass']('text-muted disabled');
					$(ctPurposes).find('input[type="checkbox"]').prop('disabled', isChecked);
				}

				$(ctOrderList).change(fnSubmit);
				$(ctDisplayList).change(fnSubmit);
				$(ctGroupAny).change(fnDisableSelectList);
				$(ctPurposeAny).change(fnDisableCheckboxList);

				fnDisableSelectList.apply(ctGroupAny);
				fnDisableCheckboxList.apply(ctPurposeAny);
			}

			var pagunationHandler = function () {
				var pageNumberField = $(form).children('#PageNumber');
				var pagingLinks = $('nav.product-list-pagination a[data-target]');
				$(pagingLinks).click(function () {
					var targetPage = $(this).data('target');
					if (targetPage == null || targetPage === "")
						return;
					$(pageNumberField).val(targetPage);
					$(form).submit();
				});
			}

			collapseHandler();
			formIteractionHandler();
			pagunationHandler();

			$(window).resize();
		});
	</script>
}

@section seo {
	<meta name="keywords" content=""/>
	<meta name="description" content="" />
}

<div class="page-header">
	<h1>@ViewBag.Title</h1>
</div>

<!--noindex-->
<noscript>
	<div class="row">
		<div class="col-xs-12 col-md-9">
			<div class="alert alert-warning">
				<h4>Замечание</h4>
				<p>
					Для работы формы используется <i>javascript</i>.
					Если вы не можете включить эту функцию в браузере - воспользуйтесь ссылкой для просмотра полного списка продукции
				</p>
				<p>
					<a href="@Url.Action("ViewAll", "Catalog")" class="btn btn-default">Полный список продукции</a>
				</p>
			</div>
		</div>
	</div>
</noscript>
<!--/noindex-->

<div class="row">
	<div class="col-xs-12">
		<p class="visible-xs visible-sm">
			<button type="button" class="btn btn-block btn-primary" id="toggle-btn"><span>Скрыть</span> фильтры</button>
		</p>
		@Html.Partial("Partial/Catalog/AsideForm", Model.FormModel)
	</div>
</div>
<div class="row element-margin">
	<div class="col-xs-12">
		@if (!string.IsNullOrEmpty(Model.FilterGroup))
		{
			<span class="label label-primary text-uppercase">@Model.FilterGroup</span>
		}
		@if (Model.FilterPurposes != null && Model.FilterPurposes.Any())
		{
			foreach (var filterPurpose in Model.FilterPurposes)
			{
				<span class="label label-danger text-uppercase">@filterPurpose</span>
			}
		}
		@if (!string.IsNullOrEmpty(Model.FilterCode))
		{
			<span class="label label-default text-uppercase">@Model.FilterCode</span>
		}
	</div>
</div>
<div class="row element-margin">
	<div class="col-md-9 col-lg-9">
		@if (!Model.Items.Any())
		{
			<p class="text-info">По данному запросу ничего не найдено</p>
		}
		else
		{
			foreach (var m in Model.Items)
			{
				@Html.Partial("Partial/Catalog/ItemCard", m)
			}
		}
	</div>
</div>

@if (Model.RequiresPagination)
{
	<div class="row">
		<div class="col-md-9 col-lg-9">
			@Html.Partial("Partial/Catalog/ProductListPaging", Model.PaginationModel)
		</div>
	</div>
}
