@model ProductViewModel

@{
	ViewBag.Title = "Product";
	var p = Model.Product;

	var action = p.GetIsKit ? "Kit" : "Product";
	string link = null;

	if (p.Og != null && !string.IsNullOrEmpty(Request.Url?.Scheme))
	{
		link = Url.Action(action, "Catalog", new { Item = p.Uri }, Request.Url.Scheme);
	}

	var similarItems = Model.AnalogicProducts?.ToList();
	ViewBag.HeadPrefix = Constants.Og.HeadPrefixProduct;
}

@section seo {
	@if (p.Seo != null)
	{
		<meta name="keywords" content="@p.Seo.Keywords" />
		<meta name="description" content="@p.Seo.Description" />
	}
}

@section og {
	@if (p.Og != null && !string.IsNullOrEmpty(link))
	{
		<meta property="og:type" content="product">
		<meta property="og:url" content="@link">
		<meta property="og:locale" content="ru_RU">

		<meta property="og:title" content="@p.Og.Title">
		<meta property="og:description" content="@p.Og.Description">
		<meta property="og:determiner" content="">

		<meta property="og:image" content="@Url.Content($"~/img/{p.PhotoPath}", true)">
		<meta property="og:image:type" content="@p.Og.ImageType">
		<meta property="og:image:width" content="@p.Og.ImageWidth">
		<meta property="og:image:height" content="@p.Og.ImageHeight">

		<meta property="product:availability" content="instock">
		<meta property="product:condition" content="new">
	}
}

@section schema {
	@if (p.Schema != null && !string.IsNullOrEmpty(Request.Url?.Scheme))
	{
		<script type="application/ld+json">
			{
				"@@context": "http://schema.org",
				"@@type": "Product",
				"description": "@p.Schema.Description",
				"name": "@p.Schema.Name",
				"image": "@Url.Content($"~/img/{p.PhotoPath}", true)",
				"itemCondition": "http://schema.org/NewCondition",
				@if (similarItems != null)
				{
					@:"isSimilarTo": [
					for (var i = 0; i < similarItems.Count; i++ )
					{
						@:	{
						@:		"@@type": "Product",
						@:		"url": "@Url.Action("Product", "Catalog", new {Item = similarItems[i].Uri}, Request.Url.Scheme)"
						@:	}
						@Html.Raw(i < similarItems.Count - 1 ? ",": string.Empty)
					}
					@:]
				}
			}
		</script>
	}
}

<div class="page-header">
	<h1>@p.CaptionShort</h1>
</div>

@Html.Partial("Partial/Catalog/ProductItem", p)

@if (Model.AnalogicProducts != null && Model.AnalogicProducts.Any())
{
	<h3>Эта продукция в другой таре и упаковке</h3>
	@Html.Partial("Partial/Catalog/ProductAnotherContainer", Model.AnalogicProducts)
}

@if (Model.RelativeKits != null && Model.RelativeKits.Any())
{
	<h3>Данная продукция включена в следующие наборы</h3>
	@Html.Partial("Partial/Catalog/ProductOrderedList", Model.RelativeKits)
}
