@model Hozpm.Logic.Entities.ProductBase

<div class="product-item clearfix">
	<div class="clearfix">
		<img src="@Url.Content($"~/img/{Model.PhotoPath}")" alt="" class="img-responsive image" />
		<p class="code">
			Артикул: <b>@Model.Code</b>
		</p>
		@if (Model.GetIsKit)
		{
			<p class="kit">
				Набор: <span class="glyphicon glyphicon-ok"></span>
			</p>
		}
		@if (Model.Container != null)
		{
			var c = Model.Container;

			if (c.Weight.HasValue && !string.IsNullOrEmpty(c.WeightText))
			{
				<p class="weight">
					Масса: <b><span>@c.Weight</span>@c.WeightText</b>
				</p>
			}

			if (c.Volume.HasValue && !string.IsNullOrEmpty(c.VolumeText))
			{
				<p class="volume">
					Объем: <b><span>@c.Volume</span>@c.VolumeText</b>
				</p>
			}

			if (c.Length.HasValue && c.Width.HasValue && c.Height.HasValue
				&& !string.IsNullOrEmpty(c.LengthText) && !string.IsNullOrEmpty(c.WidthText) && !string.IsNullOrEmpty(c.HeightText))
			{
				<p class="dimensions">
					ДхШхВ:
					<span class="text-nowrap">
						<b><span>@c.Length.Value</span>@c.LengthText</b> x 
						<b><span>@c.Width.Value</span>@c.WidthText</b> x 
						<b><span>@c.Height.Value</span>@c.HeightText</b>
					</span>
				</p>
			}
		}
	</div>
	<p class="lead caption-full">@Model.Caption</p>
	<div class="description">
		@Html.Raw(Model.Description)
	</div>
</div>
