<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>

	@Styles.Render("~/css/bootstrap.css", "~/css/site.css")
	@RenderSection("styles", false)
</head>
<body>

<header>
	@Html.Partial("Partial/Layout/Header")
</header>

<main class="container">
	@RenderBody()
</main>

<footer>
	@Html.Partial("Partial/Layout/Footer")
</footer>

@Scripts.Render("~/js/jquery.js", "~/js/bootstrap.js")
@RenderSection("scripts", false)
</body>
</html>