
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>_LayoutManagement</title>
</head>
<body>

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="main-menu">
				<ul class="nav navbar-nav">
					<li><a href="@Url.Action("Index", "Home")">На сайт</a></li>
					<li><a href="@Url.Action("Index", "Management")">Начальная</a></li>
					<li><a href="@Url.Action("Groups", "Management")">Группы</a></li>
					<li><a href="@Url.Action("Purposes", "Management")">Цели</a></li>
					<li><a href="@Url.Action("Products", "Management")">Продукция</a></li>
					<li><a href="@Url.Action("Kits", "Management")">Наборы</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<main class="container-fluid">
		@RenderBody()
	</main>

	@Styles.Render("~/css/bootstrap.css")
	@RenderSection("styles", false)

	@Scripts.Render("~/js/jquery.js", "~/js/bootstrap.js")
	@RenderSection("scripts", false)

</body>
</html>
