
@{
	ViewBag.Title = $"{Constants.CompanyName} - Главная";
}

@section seo {
	<meta name="keywords" content="" />
	<meta name="description" content="" />
}

@section og {
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:locale" content="ru_RU">

	<meta property="og:title" content="">
	<meta property="og:description" content="">

	<meta property="og:image" content="">
	<meta property="og:image:type" content="">
	<meta property="og:image:width" content="">
	<meta property="og:image:height" content="">
}

@section schema {

}

<div class="page-header">
	<h1>@ViewBag.Title</h1>
</div>

<p class="lead">
	Группа компаний <span class="text-nowrap">AVRGroup</span> выпускает расходные материалы для пайки металлов. <span class="text-nowrap">(болт, гайка)</span> и резьбовые опоры для металлических и деревянных конструкций.
	Свяжитесь с нами, чтобы получить бесплатные образцы продукции.
</p>
<p>
	Продукция всегда есть в наличии.<br />
	Бесплатная доставка до терминала транспортной компании.<br />
	Работаем на рынке свыше 15 лет.
</p>
<h4>В данный момент мы выпускаем более сотни наименований продукции следущих групп:</h4>
<ul>
	<li>Флюсы, Флюс-гели, Флюс-люксы</li>
	<li>Припои и сплавы</li>
	<li>Клеи, Лаки</li>
	<li>Наборы</li>
	<li>Очистители, пасты, железо хлорное</li>
	<li>Смазочные материалы</li>
</ul>

<h2>Продукция по группам</h2>

<div class="row">
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/placeholder/placeholder_16x9.png")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Флюсы</span>,
				<span class="text-nowrap">Флюс-гели</span>,
				<span class="text-nowrap">Флюс-люксы</span>
			</h3>
			<div class="description">
				<p>
					Тестовое описание текущей группы<br/>
					Даже в несколько строк и даже с HTML!
				</p>
				<ul>
					<li>Point 1</li>
					<li>Point 2</li>
					<li>Point 3</li>
					<li>Point 4</li>
					<li>Point OVR</li>
					<li>Point OVR</li>
				</ul>
			</div>
			<p class="links">
				Открыть каталог:<br/>
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupFlux })" class="btn btn-primary">Флюсы</a>
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupFluxeGel })" class="btn btn-primary">Флюс-гели</a>
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupFluxeLux })" class="btn btn-primary">Флюс-люксы</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/placeholder/placeholder_16x9.png")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Припои и сплавы</span>
			</h3>
			<div class="description">
				<p>
					Тестовое описание текущей группы<br/>
					Даже в несколько строк и даже с HTML!
				</p>
				<ul>
					<li>Point 1</li>
					<li>Point 2</li>
					<li>Point 3</li>
					<li>Point 4</li>
					<li>Point OVR</li>
					<li>Point OVR</li>
				</ul>
			</div>
			<p class="links">
				Открыть каталог:<br/>
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupAlloyAndSolder })" class="btn btn-primary">Припои и сплавы</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/placeholder/placeholder_16x9.png")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Клеи</span>,
				<span class="text-nowrap">Лаки</span>
			</h3>
			<div class="description">
				<p>
					Тестовое описание текущей группы<br/>
					Даже в несколько строк и даже с HTML!
				</p>
				<ul>
					<li>Point 1</li>
					<li>Point 2</li>
					<li>Point 3</li>
					<li>Point 4</li>
					<li>Point OVR</li>
					<li>Point OVR</li>
				</ul>
			</div>
			<p class="links">
				Открыть каталог:<br/>
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupGlue })" class="btn btn-primary">Клеи</a>
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupLacquer })" class="btn btn-primary">Лаки</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/placeholder/placeholder_16x9.png")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Очистители, пасты, железо хлорное</span>
			</h3>
			<div class="description">
				<p>
					Тестовое описание текущей группы<br/>
					Даже в несколько строк и даже с HTML!
				</p>
				<ul>
					<li>Point 1</li>
					<li>Point 2</li>
					<li>Point 3</li>
					<li>Point 4</li>
					<li>Point OVR</li>
					<li>Point OVR</li>
				</ul>
			</div>
			<p class="links">
				Открыть каталог:<br/>
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupCleanerPasteIron })" class="btn btn-primary">Очистители, пасты, железо хлорное</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/placeholder/placeholder_16x9.png")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Смазочные материалы</span>
			</h3>
			<div class="description">
				<p>
					Тестовое описание текущей группы<br/>
					Даже в несколько строк и даже с HTML!
				</p>
				<ul>
					<li>Point 1</li>
					<li>Point 2</li>
					<li>Point 3</li>
					<li>Point 4</li>
					<li>Point OVR</li>
					<li>Point OVR</li>
				</ul>
			</div>
			<p class="links">
				Открыть каталог:<br/>
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupLubricant })" class="btn btn-primary">Смазочные материалы</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/placeholder/placeholder_16x9.png")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Наборы</span>,
				<span class="text-nowrap">Разное</span>
			</h3>
			<div class="description">
				<p>
					Тестовое описание текущей группы<br/>
					Даже в несколько строк и даже с HTML!
				</p>
				<ul>
					<li>Point 1</li>
					<li>Point 2</li>
					<li>Point 3</li>
					<li>Point 4</li>
					<li>Point OVR</li>
					<li>Point OVR</li>
				</ul>
			</div>
			<p class="links">
				Открыть каталог:<br/>
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupKit })" class="btn btn-primary">Наборы</a>
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupOther })" class="btn btn-primary">Разное</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
</div>
