
@{
	ViewBag.Title = "Заголовок главной страницы";
}

<div class="page-header">
	<h2>@ViewBag.Title</h2>
</div>

<div class="row">
	<div class="col-lg-4">
		@Html.Partial("Site/GroupCard")
	</div>
	<div class="col-lg-4">
		@Html.Partial("Site/GroupCard")
	</div>
	<div class="col-lg-4">
		@Html.Partial("Site/GroupCard")
	</div>
	<div class="col-lg-4">
		@Html.Partial("Site/GroupCard")
	</div>
</div>
