
@{
	ViewBag.Title = Constants.CompanyName;
}

@section seo {
	<meta name="keywords" content="" />
	<meta name="description" content="" />
}

@section og {
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:locale" content="ru_RU">

	<meta property="og:title" content="">
	<meta property="og:description" content="">

	<meta property="og:image" content="">
	<meta property="og:image:type" content="">
	<meta property="og:image:width" content="">
	<meta property="og:image:height" content="">
}

@section schema {

}

<div class="page-header">
	<h1>@ViewBag.Title</h1>
</div>

<h2>Уважаемые партнеры!</h2>

<p class="lead">Рады приветствовать Вас на нашем сайте</p>

<p class="lead">@Constants.CompanyName осуществляет производство и поставку расходных материалов для пайки с 1997г.</p>

<p>
	На протяжении всего этого времени наша организация зарекомендовала себя как стабильный и ответственный поставщик.
	Мы целеустремленно увеличивали ассортимент выпускаемой продукции и в настоящее время наш прайс-лист включает в себя более 500 наименований продукции для пайки и смежных областей.
</p>

<p>
	Мы поддерживаем ценовой уровень и систему логистики таким образом, чтобы обеспечить всем нашим партнерам высокую прибыль, гарантированный сбыт и бесперебойную работу.
</p>

<p class="lead">Наши преимущества:</p>
<ul>
	<li>Низкие цены от производителя</li>
	<li>Высокое качество продукции</li>
	<li>Круглосуточный прием заявок и выставление счетов</li>
	<li>Ежедневные отправки заказов</li>
	<li>Готовность заказа через 2-3 часа после выставления счета</li>
	<li>Доставка до терминала ТК Москвы и Рязани бесплатно</li>
	<li>Профессиональная команда химиков-технологов и инженерно-технического персонала</li>
	<li>Отпускаем продукцию от 1шт</li>
	<li>Информируем заказчика об отправке товара в день отгрузки</li>
	<li>Заказчикам из Рязани, Москвы и Московской области доставка бесплатно "до дверей"</li>
</ul>

<p class="lead">Группы выпускаемой продукции:</p>
<ol>
	<li>Флюсы: в растворах, порошках, пастах, сплавах</li>
	<li>Флюс-гели, флюс-люксы</li>
	<li>Припои и сплавы</li>
	<li>Клеи, лаки, наборы для пайки, травления печатных плат</li>
	<li>Очистители, смывки, полировальные и теплопроводные пасты</li>
	<li>Смазочные материалы</li>
</ol>

<h2>Продукция по группам</h2>

<div class="row">
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/groups/flux.jpg")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Флюсы</span>,
				<span class="text-nowrap">Флюс-гели</span>,
				<span class="text-nowrap">Флюс-люксы</span>
			</h3>
			<div class="description hidden">
				<p>
					Место для описания
				</p>
			</div>
			<p class="links">
				Открыть в каталоге:<br />
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupFlux })" class="btn btn-primary">Флюсы</a>
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupFluxeGel })" class="btn btn-primary">Флюс-гели</a>
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupFluxeLux })" class="btn btn-primary">Флюс-люксы</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/groups/solder-alloy.jpg")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Припои и сплавы</span>
			</h3>
			<div class="description hidden">
				<p>
					Место для описания
				</p>
			</div>
			<p class="links">
				Открыть в каталоге:<br />
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupAlloyAndSolder })" class="btn btn-primary">Припои и сплавы</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/placeholder/placeholder_16x9.png")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Клеи</span>,
				<span class="text-nowrap">Лаки</span>
			</h3>
			<div class="description hidden">
				<p>
					Место для описания
				</p>
			</div>
			<p class="links">
				Открыть в каталоге:<br />
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupGlue })" class="btn btn-primary">Клеи</a>
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupLacquer })" class="btn btn-primary">Лаки</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/placeholder/placeholder_16x9.png")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Очистители, пасты, железо хлорное</span>
			</h3>
			<div class="description hidden">
				<p>
					Место для описания
				</p>
			</div>
			<p class="links">
				Открыть в каталоге:<br />
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupCleanerPasteIron })" class="btn btn-primary">Очистители, пасты, железо хлорное</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/placeholder/placeholder_16x9.png")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Смазочные материалы</span>
			</h3>
			<div class="description hidden">
				<p>
					Место для описания
				</p>
			</div>
			<p class="links">
				Открыть в каталоге:<br />
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupLubricant })" class="btn btn-primary">Смазочные материалы</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		<div class="group-card">
			<img src="@Url.Content("~/img/groups/kit.jpg")" alt="" class="img-responsive photo" />
			<h3 class="caption">
				<span class="text-nowrap">Наборы</span>,
				<span class="text-nowrap">Разное</span>
			</h3>
			<div class="description hidden">
				<p>
					Место для описания
				</p>
			</div>
			<p class="links">
				Открыть в каталоге:<br/>
				<!--nofollow-->
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupKit })" class="btn btn-primary">Наборы</a>
				<a href="@Url.Action("Index", "Catalog", new { groupSelected = Constants.Ids.GroupOther })" class="btn btn-primary">Разное</a>
				<!--/nofollow-->
			</p>
		</div>
	</div>
</div>
