
@{
	ViewBag.Title = "Заголовок главной страницы";
}

<div class="page-header">
	<h1>@ViewBag.Title</h1>
</div>

<p class="lead">
	Компания <span class="text-nowrap">«Центр ВТО»</span> выпускает внешние и внутренние заглушки для профильных труб, колпачки для шестигранных метизов <span class="text-nowrap">(болт, гайка)</span> и резьбовые опоры для металлических и деревянных конструкций.
	Свяжитесь с нами, чтобы получить бесплатные образцы продукции.
</p>
<p>
	Продукция всегда есть в наличии.<br />
	Бесплатная доставка до терминала транспортной компании.<br />
	Работаем на рынке свыше 15 лет.
</p>
<h4>В данный момент мы выпускаем более сотни наименований продукции следущих групп:</h4>
<ul>
	<li>Флюсы</li>
	<li>Флюс-гели</li>
	<li>Флюс-люксы</li>
	<li>Припои и сплавы</li>
	<li>Клеи</li>
	<li>Лаки</li>
	<li>Наборы</li>
	<li>Очистители, пасты, железо хлорное</li>
	<li>Смазочные материалы</li>
</ul>

<h2>Продукция по группам</h2>
<p>
	Вводный текст для продукции, что то тот тот от отот то тото то тот отототот ототототот.<br/>
	Вводный текст для продукции, что то тот тот.
</p>

<div class="row">
	<div class="col-sm-6 col-md-5 col-lg-4">
		@Html.Partial("Partial/Home/GroupCard")
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		@Html.Partial("Partial/Home/GroupCard")
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		@Html.Partial("Partial/Home/GroupCard")
	</div>
	<div class="col-sm-6 col-md-5 col-lg-4">
		@Html.Partial("Partial/Home/GroupCard")
	</div>
</div>
